
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  border-bottom: 1px solid #ddd;
}

.left{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 70px;
}
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content ul {
  display: flex;
  gap: 16px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content ul li {
  list-style: none;
}
.content ul li a {
  text-decoration: none;
  color: #4a90e2;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s;
}

.content ul li a:hover {
  color: #005f99;
}

.nav-button {
  text-decoration: none;
  background-color: #f0f4f8;
  color: #0077b6;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  display: inline-block;
}

.nav-button:hover {
  background-color: #d2e6f7;
  color: #005f99;
}

.logout-btn {
  background-color: #ffe1e1;
  color: #e53935;
}

.logout-btn:hover {
  background-color: #ffcccc;
}

.welcome-msg {
  font-weight: 600;
  color: #333;
}
